$input-bg-static: #FFF;
$input-bg-pseudo-active: #43a047;
$input-bg-pseudo-static: #e53935;
$input-bg-light-active: #ffff00;

$input-width: 40px; // adjust only this number for dimension

$input-radius: calc(#{$input-width} / 2);
$input-height: calc(#{$input-width} / 2);
$input-light-dims: calc(#{$input-height} / 2);

.checkButton {
	height: 50px;
	display: flex;
	align-items: center;
	padding-left: 25px;
}

.light {
	display: inline-block;
	width: $input-light-dims;
	height: $input-light-dims;
	border-radius: 100%;
	background-color: $input-bg-static;
	margin: 0 0 0 0.5rem;
	transition: background 400ms ease;
}

input[type="checkbox"] {
	position: relative;
	-webkit-appearance: none;
	width: $input-width;
	height: $input-height;
	background-color: $input-bg-static;
	border-radius: $input-radius;
	outline: none; // bad accessibility
	transition: background 450ms ease;
	box-shadow: 0 0 0 3px darken($input-bg-static, 7.5%);

	&:before,
	&:after {
		position: absolute;
		display: block;
		content: "";
		border-radius: 100%;
		transition: background 450ms ease, transform 450ms ease;
	}

	&:before {
		width: calc(#{$input-width} / 2);
		height: $input-height;
		background-color: $input-bg-pseudo-static;
	}

	// active state
	&:checked {
		&:before {
			background-color: $input-bg-pseudo-active;
			transform: translateX(100%);
		}
	}

	// old school knob
	&.knob {
		transition: background 450ms ease, transform 450ms ease;

		&:before {
			background: conic-gradient($input-bg-pseudo-static, darken($input-bg-pseudo-static, 20%));
		}

		&:checked {
			&:before {
				background: conic-gradient($input-bg-pseudo-active, darken($input-bg-pseudo-active, 20%));
				transform: translateX(100%) rotate(360deg);
			}

			+ .light {
				background-color: $input-bg-light-active;
			}
		}
	}
}
