<div class="banner">
    <div class="banner-item">
        <div id='home'>
            <a href="/" class="fa fa-home"> Home</a>
        </div>

        <a href="/login" class="fa fa-user"> Login</a>

        <a href="/register" class="fa fa-key"> Register</a>


    </div>
</div>