<script src="js/button.js"></script>
<div id="banner">
    <div class="banner-item">
        <div id='home'>
            <a href="/" class="fa fa-home" id='banner-text'> Home</a>
        </div>
        <div class='links'>
            <a href="/login" class="fa fa-user" id='banner-text'> Login</a>

            <a href="/register" class="fa fa-key" id='banner-text'> Register</a>

            <div class="checkButton">
                <input class="knob" type="checkbox" onclick="modeFunction()">
                <span class="light"></span>
            </div>
        </div>
    </div>
</div>