<script src="js/button.js"></script>
<div class="banner">
    <div class="banner-item">
        <div id='home'>
            <a href="/" class="banner-text fa fa-home"> Home</a>
        </div>
        <div class='links'>
            <% if(isLogged){ %>
                <a href="/logout" class="banner-text fa fa-user"> Logout</a>
            <% }else{ %>
            <a href="/login" class="banner-text fa fa-user"> Login</a>

            <a href="/register" class="banner-text fa fa-key"> Register</a>
            <% } %>
            <div class="checkButton">
                <input class="knob" type="checkbox" onclick="modeFunction()">
                <span class="light"></span>
            </div>
        </div>
    </div>
</div>