<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head') %>
    <title>Battleship</title>
</head>

<body>
    <div class='GameButtons'>
       <button class='createGame' placeholder="Create Game"/>Create Game</button>
       <button class='joinGame' placeholder="Join Game"/>Join Game</button>
    </div>
    <%- include('banner') %>
    <div class="content" oncontextmenu="return false;">
        <%- include('content/game') %>
    </div>
    <input type='hidden' id='sessionID' value="<%=session%>">

</body>

</html>