<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('head') %>
    <title>Battleship</title>
</head>

<body>
    <%- include('banner') %>
    <div class="content">
        Hello Comrade!
    </div>

</body>

</html>