<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('head') %>
    <title>Battleship</title>
</head>

<body>
    <%- include('banner') %>
    <div class="content" oncontextmenu="return false;">
        <%- include('content/game') %>
    </div>
</body>

</html>