body {
	margin: 0;
	background-color: #636b6f;
}

.banner {
	height: 50px;
	box-shadow: 0 3px 7px 0px rgba(0, 0, 0, 0.6);
	min-width: 480px;
	width: auto;
	margin-left: 10px;
	margin-right: 10px;
	font-family: sans-serif;
	border-radius: 0 0 10px 10px;
	background-color: #f5f5f7;
	color: #636b6f;
	z-index: 1000;
}

.banner-item {
	display: flex;
	margin: 0 50px 0 40px;
	justify-content: space-between;
}
.links {
	display: -webkit-inline-box;
}
.banner-text {
	padding-left: 10px;
	font-size: large;
	font-weight: bold;
	text-decoration: none;
	position: relative;
	cursor: pointer;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	color: inherit;
}
.default-text {
	cursor: default;
}
.content {
	box-shadow: 0 3px 7px 0px rgba(0, 0, 0, 0.6);
	margin: 25px 10px 25px 10px;
	padding: 20px;
	width: auto;
	font-family: sans-serif;
	border-radius: 10px;
	background-color: #f5f5f7;
	color: #636b6f;
}

.dark-mode {
	color: #f5f5f7;
	background-color: #636b6f;
	box-shadow: 0 3px 17px 0px rgba(255, 255, 255, 0.6);

}
